<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.blog.mapper.ArticleMapper">

    <select id="getLabel" resultMap="mp1">
        select a.label, count(*) as num
        from t_article a
        group by a.label
        order by num desc
    </select>
    <select id="getArticle" resultType="com.li.blog.entity.vo.ArticleVO">
        select id,label,gmt_create,title from t_article order by gmt_create desc
    </select>

    <resultMap id="mp1" type="com.li.blog.entity.vo.LabelVo">
        <result property="label" column="label"/>
        <result property="num" column="num"/>
    </resultMap>

    <resultMap id="mp2" type="com.li.blog.entity.vo.ArticleVO">
        <id column="id" property="id" />
        <result property="label" column="label"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="title" column="title"/>
    </resultMap>
</mapper>
